* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Snas", sans-serif;
  box-sizing: border-box;
}

#navbar {
  height: 100vh;
  width: 100%;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 35%;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: #ffe000;
}

span2 {
  color: #39318e;
}

span3 {
  color: #7600de;
}

span4 {
  color: #6495ed;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 25px;
}

nav ul li a:hover {
  color: #6495ed;
  transition: 0.4s;
}

.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

h1 {
  color: white;
  font-size: 35px;
  margin: 20px 0px 20px;
}

h3 {
  color: white;
  font-size: 35px;
  margin-bottom: 50px;
}

h4 {
  color: rgba(255, 202, 255, 0.8);
  letter-spacing: 2px;
  font-size: 35px;
}

#about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}

#about img {
  height: auto;
  width: 430px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

#skills {
  background-color: #101010;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 360px;
  width: 335px;
  padding: 20px 35px;
  background-color: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: solid 1px;
  border-color: #fcfc;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}

.pra p {
  color: #fcfc;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}

footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

a {
  text-decoration: none;
  color: inherit;
}

.social {
  display: flex;
}

.social a:nth-child(1) {
  /*Instagram*/
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social a:nth-child(2) {
  /*Telegram*/
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #1488cc, #2b32b2);
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social a:nth-child(3) {
  /*Github*/
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #1f1c2c, #928dab);
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social a:hover {
  transform: scale(1.3);
  transition: 0.2s;
}

.end {
  position: absolute;
  color: rgb(140, 0, 255);
  bottom: 35px;
  font-size: 14px;
}
